@charset "utf-8";
/* 上下左右全部のデフォルトのmarginを0にする */

html, body {
    margin: 0px;
}

html {
    position: relative;
}

#index {
    font-family: 'Krona One', sans-serif;
    height: auto !important;
    background-image: url(../images/bg_index.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

#about {
    font-family: 'Krona One', sans-serif;
    height: auto !important;
}

#portfolio {
    font-family: 'Krona One', sans-serif;
    height: auto !important;
}

#index header {
    background-image: url(../images/bg_index_header.jpg);
    height: 60px;
}

#portfolio header {
    background-image: url(../images/bg_portfolio_header.jpg);
    height: 60px;
}

/* スクロールでグローバルナビを隠すまたは消去 */

.header-bar {
    transition: .5s;
}

.header-bar.hide {
    transform: translateY(-100%);
}

#about header {
    background-image: url(../images/bg_about_header.jpg);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 3;
}

.logo-img img {
    margin-left: 50px;
    width: 700px;
}

#index main {
    margin-top: 350px;
    margin-left: 70px;
    position: relative;
}

#about main {
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    margin: 70px 25% 250px 25%;
}

#portfolio main {
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
    font-weight: 300;
    color: #000000;
    font-size: 14px;
    margin: 52px 25% auto 25%;
}

/* footerをページ最下部に固定するためにmainのheightを指定 */

#index, #portfolio {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#index footer {
    background-image: url(../images/bg_index_header.jpg);
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* footerの下に隙間ができるのを防ぐ */
    overflow: hidden;
}

#about footer {
    background-image: url(../images/bg_about_header.jpg);
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* footerの下に隙間ができるのを防ぐ */
    overflow: hidden;
}

#portfolio footer {
    background-image: url(../images/bg_portfolio_header.jpg);
    position: absolute;
    width: 100%;
    height: 80px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* footerの下に隙間ができるのを防ぐ */
    overflow: hidden;
}

#index h2 {
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
    font-weight: 200;
    color: #000000;
    font-size: 16px;
    margin-left: 245px;
    margin-top: -60px;
}

#index h3 {
    font-size: 10px;
    color: #404040;
    margin-right: 50px;
    opacity: 0.7;
}

#about h3 {
    font-size: 15px;
    color: #404040;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

#portfolio h3 {
    font-size: 15px;
    color: #404040;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

.title {
    font-family: 'Krona One', sans-serif;
    font-size: 28px;
}

#about .title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/bg_about_header.jpg);
    width: 10px;
    height: 23px;
}

#portfolio .title::before {
    content: '';
    display: inline-block;
    background-image: url(../images/bg_portfolio_header.jpg);
    width: 10px;
    height: 23px;
}

.profile-image img {
    display: block;
    margin: 30px auto;
    max-width: 250px;
    height: auto;
}

.myname {
    float: left;
    text-align: center;
    font-weight: 200;
    color: #000000;
    font-size: 20px;
    width: 200px;
}

/* float要素中央寄せ用 */

.name-center {
    width: 200px;
    margin: 0px auto;
}

.facebook {
    display: inline-block;
    width: 40px;
    height: auto;
}

.facebook img {
    width: 40px;
    height: auto;
}

.profile {
    margin-top: 30px;
}

.profile-text {
    margin-top: 30px;
    margin-bottom: 70px;
}

.skill-icon {
    text-align: center;
    margin: 50px auto 100px auto;
}

.c-icon img {
    width: 100px;
    height: auto;
}

.c2-icon img {
    width: 100px;
    height: auto;
}

.html-icon img {
    width: 95px;
    height: auto;
    margin: -20px;
}

.css-icon img {
    width: 150px;
    height: auto;
    margin: -40px;
}

.photoshop-icon img {
    width: 100px;
    height: auto;
    margin: -20px;
}

.python-icon img {
    width: 110px;
    height: auto;
}

.java-icon img {
    width: 80px;
    height: auto;
}

#pageTop {
    position: fixed;
    bottom: 80px;
    right: 80px;
}

#pageTop i {
    padding-top: 6px
}

#pageTop a {
    display: inline-block;
    z-index: 5;
    width: 50px;
    height: 50px;
    background-image: url(../images/pagetop.jpg);
    background-position: cover;
}

#pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
}

.thumbnail {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.thumbnail-image {
    padding-right: 20px;
}

figure.hover-parent {
    /* width: 200px;
    height: auto; */
    margin-bottom: 30px;
    position: relative;
    margin: 0px;
    overflow: hidden;
    border: solid;
    border-color: #99e6e1;
    border-width: thin;
}

figcaption.hover-mask {
    /* width: 200px;
    height: auto; */
    font-family: "Hiragino Sans", "ヒラギノ角ゴシック";
    font-weight: 200;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 25px;
    opacity: 1;
    top: -100%;
    z-index: 2;
    width: 100%;
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
}

figure:hover figcaption {
    top: 0;
    left: 0;
}

.modal-overlay {
    z-index: 2;
    /*デモではheader,footerをz-index:1にしたので それより上げています*/
    display: none;
    /*jsでフェードインされるまでdisplay:none*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /*100vhでビューポートの高さいっぱいになります*/
    background-color: rgba(0, 0, 0, .5)
}

a.modal-open:hover {
    cursor: pointer
}

/*カーソルをポインタに*/

.modal-content {
    min-width: 65%;
    min-height: 60%;
    position: fixed;
    display: none;
    /*jsでフェードインされるまでdisplay:none*/
    z-index: 3;
    /*オーバーレイより上に*/
    margin: 5vh;
    padding: 15px;
    border-radius: 20px;
    background: #fff;
    vertical-align: middle;
    padding-left: 30px;
}

.modal-content img {
    display: inline;
    width: auto;
    max-height: 75vh;
    vertical-align: middle;
    border: solid;
    border-color: #99e6e1;
    border-width: thin;
    margin-top: 5vh;
}

.modal-text {
    display: inline-block;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 10px;
    width: 80vh;
    vertical-align: middle;
}

a.modal-close {
    /*クローズボタンは何でも好きなスタイルでOK*/
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    font-size: 30px;
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
}

a.modal-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.global-nav {
    float: right;
    overflow: hidden;
    margin-top: 0px;
    margin-right: 0px;
    display: flex;
    list-style: none;
    opacity: 1;
}

.global-nav li {
    float: left;
    font-size: 15px;
    list-style: none;
}

.global-nav a {
    width: 120px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: #000000;
    opacity: 1;
}

a {
    display: block;
    /* padding: 0 0 5px; */
    position: relative;
    text-decoration: none;
}

/* 中央から左右に下線を引くアニメーション */

a::before, a::after {
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    width: 0;
}

.home::before, .home::after {
    border-bottom: solid 6px #ff6666;
}

.portfolio::before, .portfolio::after {
    border-bottom: solid 6px #00b3aa;
}

.about::before, .about::after {
    border-bottom: solid 6px #ffff00;
}

a::before {
    left: 50%;
}

a::after {
    right: 50%;
}

a:hover::before, a:hover::after {
    width: 50%;
}
